html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    color: #999;
    background: #141414;
}

.button {
    padding: 14px 27px;
    background: #141414;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border: 1px #1a1a1a solid;
    border-radius: 3px;
}

.button:hover {
    text-decoration: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

#logo {
    display: flex;
    align-items: center;
    padding: 0 7px 0 0;
    margin: 0 10px 0 0;
}

#logo svg {
    margin: 0 5px 0 0;
    user-select: none;
}

#logo svg .fill {
    fill: #feb400;
}

#logo svg .text {
    fill: #feb400;
}

#layout {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 100vh;
    padding: 0 0 10px 0;
    overflow: auto;
    box-sizing: border-box;
}

#layout .page {
    font-size: 17px;
    margin: 0 auto;
    width: 100%;
    max-width: 790px !important;
    min-height: 550px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

#layout .title {
    display: flex;
    align-items: center;
    padding: 0 0 7px 0;
    margin: 0 0 7px 0;
    border-bottom: 1px #252525 solid;
}

#layout .page h1 {
    font-size: 20px;
    font-weight: normal;
    padding: 0;
    margin: 2px 0 0 0;
    color: #feb400;
}

#layout .page h2 {
    font-size: 20px;
    margin: 30px 0 0 0;
    padding: 0;
    line-height: normal;
}

#layout .page p {
    margin: 0;
}

#layout .page .fieldset {
    margin: 10px 0 0 0;
    padding: 10px 30px 20px 30px;
    background: #ffffff14;
    border-top: 4px #feb400 solid;
}

#layout .page .fieldset h2 {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 17px;
}

#layout .page .fieldset p {
    font-size: 14px;
}

#layout .page .fieldset pre {
    color: #fff;
    background: #141414;
    border-radius: 3px;
    padding: 7px 14px;
}

#layout .page .selected {
    margin: 10px 0 0 0;
    display: inline-flex;
    align-items: center;
}

#layout .page .selected svg {
    margin: 0 7px 0 0;
}

#layout .page .selected svg path {
    fill: #fff;
}

#downloads {
    width: 100%;
    display: flex;
    border-top: 4px #feb400 solid;
    background: #feb60013;
    margin: 10px 0 0 0;
}

#downloads .item {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #feb400;
    text-decoration: none;
    cursor: pointer;
}

#downloads .item svg {
    margin: 0 0 20px 0;
}

#downloads .item svg path {
    fill: #feb400;
}

#downloads .item:hover {
    color: #fff;
    background: #feb400;
    text-decoration: none;
}

#downloads .item:hover svg path {
    fill: #fff;
}

@media (min-width: 300px) and (max-width: 815px) {
    #layout {
        display: none !important;
    }
}
